*.jpg
*.png
*.rar
*.pyc
*.txt
*.pth
*.jpeg
*.zip

*.pt
*.weights
project_5/images_val/mytest/videoplayback.mp4
project_5/images_val/mytest/dance2.webm
project_5/images_val/mytest/jackchan.mp4
project_5/images_val/mytest/jackchan.webm
